<div class="row">
  <% if !signed_in? %>
    <div class="social">
      <a href="/auth/soundcloud"><%= image_tag "soundcloud_connect.png", :class => "connect-img" %></a>
    </div>
  </div>
  <div class="row">
    <div class="description">
      <p> Search for a playlist and see whats happening on twitter</p>
    </div>
  </div>
</div>
  <% elsif !is_connected? %>
    <div class="social">
    <a href="/auth/twitter"><%= image_tag "twitter_connect.png", :class => "connect-img" %></a>
    </div>
<% end %>
<% if signed_in? %>
  <div class="form">
    <form action="" method="get" accept-charset="utf-8">
      <input type="text" id="input" value="" />
      <button class="submit" id="button" type="submit">look up</button>
    </form>
    <br />
  </div>
<% end %>
<div class="row">
  <div class="seven columns">
    <div id="tweet-box">
    </div>
  </div>
  <div class="nine columns" >
    <div id="player">
    </div>
  </div>
</div>
<script id="tweet-template" type="text/javascript">
  <blockquote class="twitter-tweet"><p>{{ tweet }}</p>&mdash; {{ name }} (@{{ handle }}) <a href="https://twitter.com/{{ handle }}/statuses/{{ id }}">{{ date }}</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</script>
