<h1>HI This is the index</h1>
<% if signed_in? %>
  <a href="/auth/twitter"><button type="submit" >Twitter</button></a>

<% else %>
  <a href="/auth/soundcloud"><button type="submit" >Sound Cloud</button></a>
<% end %>
<form action="" method="get" accept-charset="utf-8">
  <input type="text" id="input" value="" />
  <button id="button" type="submit">look up</button>
</form>
<div id="player">
</div>




