<div class="row">
  <div class="five columns offset-by-five">
    <form action="" method="get" accept-charset="utf-8">
      <input type="text" id="input" value="" />
      <button id="button" type="submit">look up</button>
    </form>
    <br />
  <% if !signed_in? %>
    <a href="/auth/soundcloud"><%= image_tag "soundcloud_connect.png", :class => "connect-img" %></a>
  <% elsif !is_connected? %>
    <a href="/auth/twitter"><%= image_tag "twitter_connect.png" %></a>
  <% end %>
  </div>
</div>
<div class="row">
  <div class="five columns">
    <div id="tweet-box">

    </div>
  </div>
  <div class="eleven columns" >
    <div id="player">
    </div>
  </div>
</div>
<script id="tweet-template" type="text/javascript">
  <div class="tweet">
    <img src="{{ link }}" class="tweet-pic"  alt="" />
    <p> {{ tweet }} </p>
  </div>
</script>
