#tweet-box {
  width:100%;
  height:350px;
  border-style:solid;
  border-width:5px;
  position:relative;
  overflow:scroll;
}

#player {
  width:100%;
  height:350px;
  border-style:solid;
  border-width:5px;
}

.tweet-pic {
  width: 15%;
  margin-right: 15px;
  height: auto;
}

.tweet {
  display:inline-block;
  width:90%;
  padding: 5px 15px 5px 15px;
}

.tweet p {
  display:inline-block;
  font-size:12px;
  width:75%;
}
