#tweet-box {
  width:100%;
  height:350px;
  position:relative;
  overflow:scroll;
}

#player {
  width:100%;
  height:350px;
}

.tweet-pic {
  width: 50px;
  margin-right: 15px;
  height: 50px;
}
.form {
  margin-top:30px;
}

form {
  text-align:center;
}

input {
  width:200px;
  height:25px;
  font-size: 20px;
}

.tweet {
  display:inline-block;
  width:90%;
  padding: 5px 15px 5px 15px;
}

.tweet p {
  display:inline-block;
  font-size:12px;
  width:75%;
}

//* button *//

.submit {
  background: LightBlue;
  border-width: 0;
  height:30px;
}


